<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Comedy Club</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="logo.jpg" alt="Comedy Club Logo" width="48" height="48">
                </a>
            </div>
            <nav>
                <a href="index.html">Home</a>
                <a href="spin.html">Spin the Wheel</a>
                <a href="login.html">Login</a>
            </nav>
        </div>
    </header>
    
<section>
           <h2>Featured Comedians</h2>
          <div class="container content-wrapper">
        <header>
            <h1>Popular Irish Comedians</h1>
        </header>
        <div id="project-display" class="project"></div>
        <div class="navigation">
            <br><br>
            <button id="btn">Next Comedian</button>
        </div>
              
        <div id="videoModal" class="modal" title="Video Playback Modal">
            <span class="close" title="Close">&times;</span>
            <iframe id="videoFrame" width="560" height="315" frameborder="0" allowfullscreen title="Video Frame"></iframe>
            <div class="modal-navigation">
                <button id="prevBtn" title="Watch Previous Video">Previous</button>
                <button id="nextBtn" title="Watch Next Video">Next</button>
            </div>
        </div>            
    </section>

    <div>
        <button onclick="backToTop()" id="back-to-top">Back to Top</button>
    </div>

    <footer>
        <p>&copy; 2024 Comedy Club. All Rights Reserved.</p>
    </footer>

    <script src="scripts.js"></script>

</body>
</html>
