<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Balloon</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="header" id="header">
        <div class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="logo.jpg" alt="Logo" width="150">
                </a>
            </div>
            <a href="spin.html">Content</a>
            <a href="Login.html">Log In</a>
        </div>
        <div class="balloon-container">
            <div class="balloon">
                <span>Submitted!</span>
                <div class="string"></div>
            </div>
        </div>
    </div>
    <script src="balloon.js"></script>
</body>

</html>
